{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {

    // disable requiring trailing commas because it might be nice to revert to
    // being JSON at some point, and I don't want to make big changes now.
    "comma-dangle": 0,
    "no-console": 1,
    "semi": 2,
    "eqeqeq": 2,
    "quotes": [2, "single"]
  }
}
