.container {
  padding: 5px;
  background-color: pink;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-holder {
  padding: 10px;
  background-color: honeydew;
  border: 1px lightblue solid;
  margin: 10px 5px;
  flex-grow: 1;
  max-width: 300px;
}

.image-holder img {
  width: 100%;
  height: auto;
}
